<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CommandeInfServlet</servlet-name>
  	<display-name>CommandeInfServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.CommandeInfServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommandeDeleteFromServlet</servlet-name>
  	<display-name>CommandeDeleteFromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.CommandeDeleteFromServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommandeUpdateromServlet</servlet-name>
  	<display-name>CommandeUpdateromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.CommandeUpdateromServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCommandeServlet</servlet-name>
  	<display-name>AddCommandeServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.AddCommandeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCommandeServletEx</servlet-name>
  	<display-name>AddCommandeServletEx</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.AddCommandeServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCommandeServletEx</servlet-name>
  	<display-name>UpdateCommandeServletEx</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.UpdateCommandeServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClientInfoFromServlet</servlet-name>
  	<display-name>ClientInfoFromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.ClientInfoFromServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProduitInfoFromServlet</servlet-name>
  	<display-name>ProduitInfoFromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.ProduitInfoFromServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProduitImpFromServlet</servlet-name>
  	<display-name>ProduitImpFromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.ProduitImpFromServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClientImpFromServlet</servlet-name>
  	<display-name>ClientImpFromServlet</display-name>
  	<description></description>
  	<servlet-class>com.GestionCommande.presentation.ClientImpFromServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommandeInfServlet</servlet-name>
  	<url-pattern>/CommandeInfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommandeDeleteFromServlet</servlet-name>
  	<url-pattern>/CommandeDeleteFromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommandeUpdateromServlet</servlet-name>
  	<url-pattern>/CommandeUpdateromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommandeServlet</servlet-name>
  	<url-pattern>/AddCommandeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommandeServletEx</servlet-name>
  	<url-pattern>/AddCommandeServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCommandeServletEx</servlet-name>
  	<url-pattern>/UpdateCommandeServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClientInfoFromServlet</servlet-name>
  	<url-pattern>/ClientInfoFromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProduitInfoFromServlet</servlet-name>
  	<url-pattern>/ProduitInfoFromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProduitImpFromServlet</servlet-name>
  	<url-pattern>/ProduitImpFromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClientImpFromServlet</servlet-name>
  	<url-pattern>/ClientImpFromServlet</url-pattern>
  </servlet-mapping>
</web-app>
